<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>
  <p><%= content_tag :div, notice, class: "bg-success" %></p>
  <p><%= content_tag :div, alert, class: "bg-danger" %></p>
  
<div class="container">
  <%= yield %>
<%= render 'layouts/footer'%>
</div>

</body>
</html>
